* {
    margin: 0;
    padding: 0;
  }
  
  body {
    background: #eee;
    display: flex;
    flex-direction: column;
    height: 100%;
    font-family: sans-serif;
  }
  
  header,
  footer {
    flex: none;
  }
  
  main {
    display: flex;
    flex: 1 0 auto;
  }

/* HEADER */

.main-nav {}

.sub-nav{}

/* MAIN */

.main-backgroundImg {}

/* FOOTER */

.footerstyle {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }

  .footerlist {
    list-style: none;
    padding: 1em;
    font-size: 10px;
  }

  .footerlistheading {
    font-size: 14px;
    border-bottom: white solid 1px;
    padding: 4px;
  }
